<footer class="footer mt-auto py-2 bg-body-tertiary bg-dark text-center mt-auto">
    <div class="container p-2 text-center">
        <span class="text-body-secondary text-muted text-center">&copy CampQuest Manish</span>
    </div>
</footer>
<style>